@use "../abstracts/functions";

.l-products {
  display: flex;
  flex-direction: column;
  gap: functions.rem(20);

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: functions.rem(50);
  }

  &__grid {
    display: flex;
    flex-direction: row;
    gap: functions.rem(25);
    flex-wrap: wrap;

    & div {
      flex-grow: 1;
      flex-basis: functions.rem(300);
    }
  }
}
