// Utilisé pour les styles globaux, comme les polices, les couleurs de base, les styles de réinitialisation, etc.

body {
  font-family: "wotfardregular", sans-serif;
  height: 100vh;
  min-height: 100vh;
}