@use '../abstracts/functions';
@use '../abstracts/variables';

.c-navbar {
    padding: functions.rem(7) functions.rem(4);
    border-bottom: solid 1px variables.$color-border;

    &__title {
       font-size: functions.rem(25);
       color: variables.$color-text;
       padding-inline-start: functions.rem(25);
       font-weight: variables.$font-weight-bold;
       flex-shrink: 0;
    }

    &__links {
        display: flex;
        flex-grow: 1;
        flex-shrink: 1;

        &--inactive {
            color: variables.$color-text;
        }

        &--active {
            color: variables.$color-primary;
        }

        & ul {
            display: flex;
            flex-grow: 1;
            justify-content: center;
            align-items: center;
            gap: functions.rem(45);
            list-style: none;
        }

        & a {
            font-size: functions.rem(17);
            text-decoration: none;
            font-weight: variables.$font-weight-medium;

            &:hover {
                color: variables.$color-primary;
            }
        }
    }
}