@use "../abstracts/functions";
@use "../abstracts/variables";

.c-products {
  flex-grow: 1;

  &__header {
    padding-inline-end: functions.rem(25);

    &__title {
      font-size: functions.rem(25);
      font-weight: variables.$font-weight-medium;
    }

    &__filter {
      flex-grow: 1;

      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      gap: functions.rem(15);
      align-items: baseline;

      & select {
        padding: functions.rem(5);
      }
    }
  }

  &__grid {
    padding-inline-end: functions.rem(25);
  }
}
