@use "../abstracts/functions";
@use "../abstracts/variables";

.c-sidebar {
  flex: 0 0 functions.rem(250);

  &__breadcrum {
    display: flex;
    align-items: center;
    color: variables.$color-text-gray;
    padding-inline-start: functions.rem(25);
  }

  &__categories {
    &--inactive {
      color: variables.$color-text;
    }

    &--active {
      color: red;
    }

    & ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: functions.rem(8);
      padding-inline-start: functions.rem(25);
    }

    & a {
      text-decoration: none;
    }
  }
}
