/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

@font-face {
  font-family: "wotfardregular";
  src: url("../fonts/wotfard/regular/wotfard-regular-webfont.eot");
  src: url("../fonts/wotfard/regular/wotfard-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/wotfard/regular/wotfard-regular-webfont.woff2") format("woff2"), url("../fonts/wotfard/regular/wotfard-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "wotfardlight";
  src: url("../fonts/wotfard/light/wotfard-light-webfont.eot");
  src: url("../fonts/wotfard/light/wotfard-light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/wotfard/light/wotfard-light-webfont.woff2") format("woff2"), url("fonts/wotfard/light/wotfard-light-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "wotfardregular", sans-serif;
  height: 100vh;
  min-height: 100vh;
}

.l-page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.l-navbar {
  display: flex;
}

.l-product-content {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  margin-block-end: 2.5rem;
}

.l-sidebar {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.l-sidebar__breadcrum {
  height: 3.125rem;
}

.l-products {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.l-products__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 3.125rem;
}
.l-products__grid {
  display: flex;
  flex-direction: row;
  gap: 1.5625rem;
  flex-wrap: wrap;
}
.l-products__grid div {
  flex-grow: 1;
  flex-basis: 18.75rem;
}

.c-navbar {
  padding: 0.4375rem 0.25rem;
  border-bottom: solid 1px #e8e8e8;
}
.c-navbar__title {
  font-size: 1.5625rem;
  color: #2d2d2d;
  padding-inline-start: 1.5625rem;
  font-weight: 700;
  flex-shrink: 0;
}
.c-navbar__links {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
}
.c-navbar__links--inactive {
  color: #2d2d2d;
}
.c-navbar__links--active {
  color: #4c63d2;
}
.c-navbar__links ul {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  gap: 2.8125rem;
  list-style: none;
}
.c-navbar__links a {
  font-size: 1.0625rem;
  text-decoration: none;
  font-weight: 500;
}
.c-navbar__links a:hover {
  color: #4c63d2;
}

.c-product-content {
  margin-block-start: 4.375rem;
}

.c-sidebar {
  flex: 0 0 15.625rem;
}
.c-sidebar__breadcrum {
  display: flex;
  align-items: center;
  color: #808080;
  padding-inline-start: 1.5625rem;
}
.c-sidebar__categories--inactive {
  color: #2d2d2d;
}
.c-sidebar__categories--active {
  color: red;
}
.c-sidebar__categories ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  padding-inline-start: 1.5625rem;
}
.c-sidebar__categories a {
  text-decoration: none;
}

.c-products {
  flex-grow: 1;
}
.c-products__header {
  padding-inline-end: 1.5625rem;
}
.c-products__header__title {
  font-size: 1.5625rem;
  font-weight: 500;
}
.c-products__header__filter {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 0.9375rem;
  align-items: baseline;
}
.c-products__header__filter select {
  padding: 0.3125rem;
}
.c-products__grid {
  padding-inline-end: 1.5625rem;
}

.c-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-block: 0.9375rem;
  background-color: #171616;
  color: #ffffff;
}

/*# sourceMappingURL=main.css.map */
