/* Error: There's already a module with namespace "navbar".
 *     ,
 * 18  | @use 'layout/navbar';
 *     | ==================== original @use
 * ... |
 * 23  | @use 'components/navbar';
 *     | ^^^^^^^^^^^^^^^^^^^^^^^^ new @use
 *     '
 *   styles/main.scss 23:1  @use
 *   styles.scss 1:1        root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: There's already a module with namespace \"navbar\".\a     \2577 \a 18  \2502  @use 'layout/navbar';\a     \2502  \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  original @use\a... \2502 \a 23  \2502  @use 'components/navbar';\a     \2502  ^^^^^^^^^^^^^^^^^^^^^^^^ new @use\a     \2575 \a   styles/main.scss 23:1  @use\a   styles.scss 1:1        root stylesheet";
}
